<div class="container auto_height">
  <div class="login-page">
    <%= form_for(@user, :url => user_registration_update_password_path, :validate=>true ) do |f| %>
    <div class="row">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 login-form">
          <div class="form-group">
            <h1 class="title-page title-login-page">Change password</h1>
          </div>
          <div class="form-group">
            <%= f.label :current_password, class: "title-text" %>
            <%= f.password_field :current_password, :required=>true,  class: "form-control" %>
          </div>
          <div class="form-group">
            <label class="title-text" for="user_password">New Password</label>
            <%= f.password_field :password, :autocomplete => "off", :required=>true, validate:{ :presence => true, :confirmation => true}, class: "form-control" %>
          </div>
          <div class="form-group">
            <label class="title-text" for="user_password">Re-type Password</label>
            <%= f.password_field :password_confirmation, :required=>true, class: "form-control" %>
          </div>
          <div class="form-group mg-bt-10">
            <%= f.submit "Update", class: "default-btn btn-halagems login-btn mg-t-0"%>
          </div>
       </div>
     </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  window.onload =function(){
    $('#user_current_password').focus();
  }
</script>