<h2>Uploads photos</h2>
<%= form_for Photo.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <div>
      <div class="fileupload-buttonbar">
        <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>
      <span class="btn fileinput-button   btn-default">
        <span><%= t('photos.add_files') %>...</span>
        <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.file_field :image, :multiple => true %>
      </span>

        <button type="button" class="btn delete"><%= t('photos.delete_selected') %></button>
        <span class="fileupload-process"></span>
        <div class="col-lg-5 fileupload-progress fade pull-right">
          <!-- The global progress bar -->
          <div id="progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
          </div>
          <!-- The extended global progress state -->
          <div class="progress-extended">&nbsp;</div>
        </div>
      </div>
    </div>
    <br/>
    <table width="100%" class="zebra-striped table_photo">
      <tr class='hide'>
        <th>Photo</th>
        <th>File Name</th>
        <th>Size</th>
        <th>Modified Date</th>
        <th><div class="fileupload-buttonbar">Action &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="toggle"></div></th>
      </tr>
      <tbody class="files">
      <tr class="row-no-img"><td colspan="4" class="align-c"><%= I18n.t("restaurant.no_img") %>
      </tbody>
    </table>
    <div id="loading"></div>
<% end %>
<script>
  var photo_count = 0;
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>

<!-- IMPORTANT fade class makes fileupload depend on css transition effect REMOVE or RENAME it -->
<script id="template-upload" type="text/html">
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i < l; file=files[++i]) { %}
  <tr class="template-upload nofade">
    <td class="preview"><span class="nofade"></span></td>
    <td class="name">{%=file.name%}</td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td><div class="progress"><div class="bar"><div style="width:0%;"></div></div></div></td>
    <td class="start">{% if (!o.options.autoUpload) { %}<button class="btn primary"><%= t('photos.template.start') %></button>{% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}<button class="btn info"><%= t('photos.template.cancel') %></button>{% } %}</td>
  </tr>
  {% } %}
</script>
<script id="template-download" type="text/html">
  {% for (var i=0, files=o.files, l=files.length, file=files[0]; i < l; file=files[++i]) { %}
  <tr class="template-download nofade">
    {% if (file.error) { %}
    <td></td>
    <td class="name">{%=file.name%}</td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.thumbnail_url) { %}
      <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
      {% } %}</td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
    </td>
    <td class="size">{%=o.formatFileSize(file.size)%}</td>
    <td class="name">{%= file.modified_date %}</td>
    {% } %}

    <td class="delete btn-group btn-group-xs photo-action-td" style="width: 170px;">
      <a class="btn btn-mini fa fa-check-circle {%= file.is_cover ? 'btn-success' : 'btn-default' %} btn-to-cover height-25" id="btn-cover-{%= file.id %}" data-method="POST" data-remote="true" href="{%=file.delete_url%}/to_cover" title='To Cover'> Cover</a>&nbsp;
      <button class="btn btn-mini btn-danger  fa fa-ban height-25" data-type="{%=file.delete_type%}" data-confirm="<%=t 'restaurant.photo_delete_confirm' %>" data-url="{%=file.delete_url%}" title='Delete'> Delete</button>

      <label class='btn btn-default height-25 '>  <input type="checkbox" name="delete" value="1" class="checkbox-select" ></label>
    </td>
  </tr>
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      autoUpload: true,

      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .progress-bar').css(
            'width',
            progress + '%'
        );
      }
    });
    //
    // Load existing files:
    $.getJSON($('#fileupload').prop('action') + "?r_id=<%= @restaurant.id%>", function (files) {
      var fu = $('#fileupload').data('fileupload'),
          template;
      fu._adjustMaxNumberOfFiles(-files.length);
      template = fu._renderDownload(files)
          .prependTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
    });

    var fu = $('#fileupload').data("fileupload");
    var eventData = { fileupload: fu };
    var clickEvent = 'click.' + fu.options.namespace;

    $('#fileupload')
        .off(clickEvent, '.delete button')
        .on(clickEvent, '.delete button', eventData, function(e) {
          var fileName = $(this).parent().siblings(".name").children().prop("title");
          if (confirm("Are you sure you want to delete?")) {
            fu._deleteHandler.call($(this), e);
          } else {
            return false;
          }
        });

    fu.element.find('.fileupload-buttonbar .delete')
        .off(clickEvent)
        .on(clickEvent, eventData, function(e) {
          var toDelete = $('#fileupload').find('.delete input:checked')
              .parents('label').siblings('button');

          if (toDelete.size() > 0 && confirm("Are you sure you want to delete the selected files?")) {
            toDelete.each(function() {
              fu._deleteHandler.call($(this), e);
            });
            $('input.toggle')
                .prop('checked', false);
          } else {
            return false;
          }
        });
  });
</script>